@use 'sass:math';

:root {
  // FONTS
  --font-primary: 'Lato', sans-serif;
  --font-size: 1.5rem;

  // COLORS
  --color-primary: #0caa41;
  --color-primary-dark: #056a27;
  --color-secondary: #1861bf;
  --color-secondary-dark: #1d4f8f;
  --color-tertiary: #00a1df;
  --color-bg: #fff;
  --color-text: #505863;

  --color-grey-1: #20262e;
  --color-grey-2: ##c2c2c2;
  --color-grey-3: rgba(64, 64, 64, 0.5);
  --color-grey-4: #c4c7cc;
  --color-grey-5: #dde0e3;

  --shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  --card-shadow: 0px 0px 2px var(--color-grey-4);

  // WIDTH
  --max-width: 123.2rem;
}

// BREAK POINTS
$lg: math.div(1200, 16) * 1em;
$lg-sm: math.div(900, 16) * 1em;
$md: math.div(750, 16) * 1em;
$md-sm: math.div(680, 16) * 1em;
$sm: math.div(485, 16) * 1em;
$sm-sm: math.div(320, 16) * 1em;
