@use '../../../sass/variables' as *;

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.8rem;

  @media screen and (max-width: $sm) {
    flex-direction: column;
    text-align: center;
  }

  &__heading {
    font-size: 1.5rem;
    @media screen and (max-width: $sm) {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    label {
      text-transform: capitalize;
      margin-right: 1.5rem;
    }
  }

  &__select {
    min-width: 18rem;
  }
}
