.btn {
  &,
  &:link,
  &:visited {
    padding: 0.7rem 1.6rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    min-width: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    background-color: var(--color-secondary);
    border-radius: 3px;

    transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s;

    &.outline {
      background-color: #fff;
      color: var(--color-secondary);
      border: 1px solid var(--color-secondary);

      &:hover {
        color: #fff;
        background-color: var(--color-secondary);
      }

      &:active,
      &:focus {
        outline: none;
        box-shadow: 0 0 0.1rem 0.3rem rgba($color: #3194d6, $alpha: 0.6);
        border: 1px solid var(--color-secondary);
      }
    }

    &:hover {
      background-color: var(--color-secondary-dark);
    }

    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 0 0.1rem 0.3rem rgba($color: #3194d6, $alpha: 0.6);
      border: 1px solid var(--color-secondary);
    }

    &.success {
      background-color: var(--color-primary);

      &:hover {
        background-color: var(--color-primary-dark);
      }

      &:active,
      &:focus {
        background-color: var(--color-primary-dark);
      }
    }
  }
}
