@use '../../sass/variables' as *;

.nav {
  border-bottom: 1px solid var(--color-grey-5);

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $md) {
      flex-direction: column;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    min-height: 5.6rem;
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &.active::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;

      height: 3px;
      width: 100%;
      background-color: var(--color-primary);
    }
  }
}
