.dropdown-content {
  // * CONTENT
  z-index: 10;
  position: absolute;

  font-size: inherit;

  width: max-content;
  text-transform: capitalize;

  display: none;
  overflow: hidden;

  list-style: none;

  border-radius: 3px;
  box-shadow: 0 4px 5px rgb(133 140 148 / 30%), 0 0 2px 0 #c4c7cc;

  &:hover,
  &:active,
  &:focus {
    display: block;
  }
}
