.footer {
  // position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-grey-3);
  text-align: center;
  margin-top: auto;

  a {
    text-decoration: none;
    color: currentColor;

    &.name {
      font-weight: 700;
    }
  }
}
